In [2]:
# Add Matplotlib inline magic command.
%matplotlib inline

# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statistics

In [6]:
# Load, read and create DataFrames
city_data_df = pd.read_csv('Resources/city_data.csv')
print(city_data_df.head())
ride_data_df = pd.read_csv('Resources/ride_data.csv')
print(ride_data_df.head())

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban
                 city             date   fare       ride_id
0  Lake Jonathanshire  1/14/2019 10:14  13.83  5.739410e+12
1  South Michelleport   3/4/2019 18:24  30.24  2.343910e+12
2  Port Samanthamouth   2/24/2019 4:29  33.44  2.005070e+12
3          Rodneyfort  2/10/2019 23:22  23.44  5.149250e+12
4          South Jack    3/6/2019 4:28  34.58  3.908450e+12

In [8]:
# Get the columns and the rows that are not null.
city_data_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [9]:
# Get the columns and the rows that are not null.
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [12]:
# Get the data types of each column.
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [16]:
# Get the unique values of the type of city.
city_data_df['type'].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [18]:
# Get the number of data points from the Urban cities.
sum(city_data_df['type']=='Urban')

66

In [19]:
# Get the number of data points from the Suburban cities.
sum(city_data_df['type']=='Suburban')

36

In [20]:
# Get the number of data points from the Rural cities.
sum(city_data_df['type']=='Rural')

18

In [10]:
# Get the columns and the rows that are not null.
ride_data_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [13]:
# Get the columns and the rows that are not null.
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [14]:
# Get the data types of each column.
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id    float64
dtype: object

In [23]:
# Merge DataFrames
pyber_data_df = pd.merge(ride_data_df, city_data_df, how = 'left', on ='city')
print(pyber_data_df.head(20))

                   city             date   fare       ride_id  driver_count  \
0    Lake Jonathanshire  1/14/2019 10:14  13.83  5.739410e+12             5
1    South Michelleport   3/4/2019 18:24  30.24  2.343910e+12            72
2    Port Samanthamouth   2/24/2019 4:29  33.44  2.005070e+12            57
3            Rodneyfort  2/10/2019 23:22  23.44  5.149250e+12            34
4            South Jack    3/6/2019 4:28  34.58  3.908450e+12            46
5          South Latoya  3/11/2019 12:26   9.52  1.995000e+12            10
6         New Paulville  2/27/2019 11:17  43.25  7.932080e+11            44
7          Simpsonburgh   4/26/2019 0:43  35.98  1.119540e+11            21
8       South Karenland    1/8/2019 3:28  35.09  7.995620e+12             4
9         North Jasmine    3/9/2019 6:26  42.81  5.327640e+12            33
10  New Kimberlyborough    2/7/2019 1:10   9.34  7.992780e+12            33
11          West Angela   1/12/2019 1:45  26.86  4.820050e+12            48
12           Rodneyfort   3/2/2019 18:03  44.26  2.494060e+12            34
13          West Angela  1/10/2019 12:17  12.74  2.108720e+12            48
14          Roberthaven   5/4/2019 14:48  25.66  1.026200e+12            47
15          North Jason  3/28/2019 22:28   9.19  7.007020e+12             6
16         Williamsview   1/3/2019 16:19  18.93  1.979490e+12            46
17              Leahton  2/26/2019 18:42   8.85  6.966670e+12            17
18         West Anthony    3/6/2019 2:27  10.02  9.396760e+12            70
19  New Kimberlyborough  4/25/2019 22:58  29.67  4.823570e+12            33

     type
0   Urban
1   Urban
2   Urban
3   Urban
4   Urban
5   Urban
6   Urban
7   Urban
8   Urban
9   Urban
10  Urban
11  Urban
12  Urban
13  Urban
14  Urban
15  Urban
16  Urban
17  Urban
18  Urban
19  Urban

In [ ]:
# Create bubble chart to show average fare vs the total number of rides.

# Change bubble size to be based on the total number of drivers for each city type.

In [ ]:
# Determine the mean, median, and mode for total number of rides for each city type.

# Determine the mean, median, and mode for the average fares for each city type.

# Determine the mean, median, and mode for total number of drivers for each city type.